[mysqld]
# Group Replication Settings
server_id                       = ${MYSQL_SERVER_ID}
gtid_mode                       = ON
enforce_gtid_consistency        = ON
binlog_checksum                 = NONE
# Standard Performance Settings
innodb_buffer_pool_size         = 256M
innodb_redo_log_capacity        = 128M
innodb_flush_log_at_trx_commit  = 1
innodb_file_per_table           = 1
max_connections                 = 200
character-set-server            = utf8mb4
collation-server                 = utf8mb4_unicode_ci

[client]
default-character-set           = utf8mb4
